.form {
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-shadow: 0 8px 32px;
    margin: 70px;
}

#registration .form input {
    margin: 15px 0;
    padding: 10px 10px;
    border: 1px solid;
    width: 250px;
}

#registration .form input::placeholder {
    color: #413c3c;
    font-weight: 5;
    font-size: 0.9rem;
}



#registration .form a.yellow {
    color: fff;
    background: #fdc93b;
    transition: 0.3s ease;
}

#registration .form a.yellow:hover {
    color: rgb(21, 21, 100);
    background: #fff;
}
body{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background: #2c3e50;
    background: -webkit-linear-gradient(to right, #3498db, #2c3e50);
    background: linear-gradient(to right, #3498db, #2c3e50);
        
}
.btn{
    display: flex;
    justify-content: center;
}
