body{
    background: #2c3e50;
    background: -webkit-linear-gradient(to right, #3498db, #2c3e50);
    background: linear-gradient(to right, #3498db, #2c3e50);
}
#center{
    display: flex;
    justify-content:center;
}
form{
    text-align: center;
}
#buttons{
    display: flex;
    margin-top: 200px;
}
button{
    display: flex;
    padding: 90px 90px;
    transition-duration: 0.4s;
    border-style: groove;
    border-radius: 10px;
    justify-content: space-between;
    text-transform: capitalize;
    font-family: monospace;
}
button:hover{
    background-color: purple;
    color: white;
}
#sea{
    border-width: 2px;
    border-style: groove;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    width: 15rem;
    transition-duration: 0.4s;
}
#sea:focus{
    width: 25rem;
}
#buttons{
    display: flex;
    justify-content:space-evenly;
}
#image{
    position:absolute;
    top:0;
    left:0;
}
@media screen and (max-width:600px){
    #image{
        position:unset;
    }
    #i{
        display:flex;
        justify-content: center;
    }
}
